@charset "UTF-8";
/* グループ初期画面 */
#newGroup {
    margin-top: 36%;
}
#newGroup a {
    display: block;
    width: 60%;
    margin: 20% auto;
    padding: 8%;
    font-size: 30px;
    border-radius: 8px;
    color: white;
}