@charset "UTF-8";

#mypage {
/* 	background-color: #fed072; */
	padding: 2%;
}
.profile {
/* 	background: #f00; */
}
.profile h2 {
	text-align: center;
}

.status {
	background-color: #ddd;
}
.statusElement {
	display: flex;
	padding: 8%;
}
.statusElement h3 {
	width: 50%;
	margin-top:0;
}

.contact h2 {
	text-align: center;
}
.contact h3 {
	text-align: center;
}